footer {
    background-color: #518196;
    padding: 0.5em 0;

    img {
        border: 3px dashed transparent;

        &:hover {
            border-color: white;
            border-radius: 100px;
        }
    }

    > ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0 2em;
        list-style-type: none;
        padding: 0;
    }

    @media screen and (min-width: 700px) {
        padding: 0.75em;

        img {
            height: 60px;
            width: 60px;
        }

        > ul {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 5em));
        }
    }
}