.photos {
  width: 95vw;
  
  @media screen and (min-width: 700px) {  
    width: 85vw;
  }

  @media screen and (min-width: 1200px) {  
    width: 75vw;
  }
}

.photos-separator {
  align-items: center;
  border: none;
  border-bottom: 0.5px dotted black;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  width: 85vw;

  &:last-child {
    border: none;
  }
}


