@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html {
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

a {
    color: black;
    text-decoration: none;
    
    &:hover {
        color: #cfcbf7;
    }
}

body {
    margin: 0;
}


.experience {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 0.5em 0;

    h3, h4 {
        margin: 0;
    }

    img {
        border: 3px dashed transparent;
        border-radius: 100px;

        &:hover {
            border-color: black;
        }
    }

    p {
        display: flex;
        align-items: center;
        margin: 0.25rem 0;
    }
}

.experience-separator {
    border-top: 3px none black;
}

figure {
    margin: 0;
}

#home {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0;
    
    h1 {
        margin: 0;
        padding: 0.25em;
    }
    
    > section {
        border: 1px solid grey;
        border-radius: 25px;
        box-shadow: 10px 10px 1px grey;
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        padding: 1em;
        width: 75vw;
    }
}

table {
    background-color: black;
    text-align: left;
}

th, tr, td {
    background-color: white;
    border: 1px solid black;
    padding: 1em;
    z-index: 1;
}

ul {
    margin: 0.25em 0;
}

@media screen and (min-width: 500px) {
    .experience {
        display: grid;
        grid-template-columns: auto 1fr;

        
        > div:first {
            align-self: center;
            display: flex;
            flex-direction: column;
        }
    }

    .experience-description {
        align-items: center;
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 0.5em;
        padding: 0.5em 0;
    }

    .experience-duration {
        text-align: right;
    }

    .experience-separator {
        border-top-style: dotted;
    }
}

@media screen and (min-width: 700px) {
    main {
        > section {
            width: 50vw;
        }
    }
}
