.project, .work-exp {
    a {
        color: #74B7D6;
        font-weight: bold;
        margin: 0.5em 0;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.project {
    h3, h4, p {
        margin: 0.25em 0;
    }
    
    ul li {
        margin: 0.2rem 0;
    }
}

@media screen and (min-width: 1200px) {
    .project {
        header {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }
}