/* #about-me h1, #about-me section {
    margin: 0;
    padding: 0.5em;
}

#about-me section>* {
    max-width: 80%;
}

#about-me ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

#about-me #skills article ul li {
    border: 1px solid black;
    list-style-type: none;
    padding: 1em;
    text-align: center;
}

#about-me #skills article ul li:nth-child(2n) {

}

@media screen and (min-width: 700px) {

}

@media screen and (min-width: 1200px) {

} */
/* 
#about-me {
    display: grid;
    grid-template-columns: repeat(6, calc(50%));
    grid-template-rows: minmax(150px 2fr);
    padding: 0.5em;
} */

#about-me>section {
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
}

main {
    display: flex;
    flex-direction: row;
}

.right {
    cursor: pointer;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    cursor: pointer;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}