.about img {
    border: 2px solid black;
    box-shadow: 3px 3px 1px grey;
}

#education {
    padding: 0.5em 0;
}

#education img {
    border: 3px dashed transparent;
}
#education img:hover {
    border-color: black;
    border-radius: 100px;
}

#education p {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
}

#education h3 {
    margin: 0;
}

#education .school {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 0.5em 0;
}

#education .school-separator {
    border-top: 3px none black;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

#skills h3 {
    margin: 0.1em;
}

#skills ul, .project .tech-stack ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25em;
    list-style-type: none;
    margin: 0.3em 0;
    padding: 0;
}

#skills ul li, .project .tech-stack ul li {
    border-radius: 5px;
    background-color: #74B7D6;
    text-align: center;
    padding: 0.5em;
}

@media screen and (min-width: 500px) {
    #education div {
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    #education .school {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    #education .school-description {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 0.5em;
        padding: 0.5em 0;
    }

    #education .school-duration {
        text-align: right;
    }

    #education .school-separator {
        border-top-style: dotted;
    }
}

@media screen and (min-width: 700px) {
    .about {
        column-gap: 2em;
        display: flex;
        flex-direction: row;
    }
    
    .about>p {
        align-items: center;
        display: flex;
    }

}