@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html {
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

#home {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

main h1 {
    margin: 0;
    padding: 0.25em;
}